name: Upload Python Package

on:
  push:
    branches:
      - main  
      - nkpart.add-serverless-support

jobs:
  deploy:

    runs-on: ubuntu-latest

    permissions:
      id-token: write

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'
    - name: Install poetry
      run: |
        python -m pip install --upgrade pip
        pip install poetry
    - name: Install dependencies
      run: |
        poetry install
    - name: Build
      run: |
        poetry build
    - name: Publish package to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1